.subtotal{
    display: flex;
    flex-direction: column;
    min-width: 20vw;
    
    align-items: center;
    margin: 5px;
    
    
}

.subtotal>button{
    width: 15vw;
    padding: 12px;
    border-radius: 1rem;
    background-color: blueviolet;
    margin-top: 25px;
    align-self: center;}

.subtotal>button:hover{
    color: white;
    font-size: 15px;
    background-color: black;
}